---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import BlogPostsList from "../components/BlogPostsList.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.publishedAt).valueOf() -
		new Date(a.frontmatter.publishedAt).valueOf()
);

const seo = {
	title: "Simple Blog | A template by Little Sticks",
	description: "A simple blog template for Astro by Little Sticks",
};
---

<Layout seo={seo}>
	<Container>
		<div class="py-8 px-0 animate-[fadeInUp_0.4s]">
			<h1 class="text-center">Блог</h1>
		</div>
		<BlogPostsList posts={posts} />
	</Container>
</Layout>
