---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---

<script>
	import "./ThemeToggleButton/theme-toggle-button";
</script>

<header
	class="h-14 flex items-center border-b-[1px] border-solid border-[var(--theme-primary-light)]"
>
	<Container>
		<nav class="w-full flex items-center justify-between">
			<a class="flex items-center m-0" href="/" title="Navigate Home">
				<Logo />
			</a>
			<!-- <theme-toggle-button></theme-toggle-button> -->
		</nav>
	</Container>
</header>
