---
import Layout from "@layouts/Page.astro";
import Container from "@components/Container.astro";
import BlogPostsList from "@components/BlogPostsList.astro";

export async function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ru" } }];
}

const { lang = "en" } = Astro.params;

const posts = (await Astro.glob("/src/posts/**/*.{md,mdx}"))
	.filter((i) => i.frontmatter.lang === lang)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishedAt).valueOf() -
			new Date(a.frontmatter.publishedAt).valueOf()
	);

const seo = {
	title: "Облог о жизни, путешествиях и технологиях",
	description: "Мой личный блог о жизни, путешествиях и технологиях",
};
---

<Layout seo={seo}>
	<Container>
		<div class="py-8 px-0 animate-[fadeInUp_0.4s]">
			<h1 class="text-center">Блог</h1>
		</div>
		<BlogPostsList posts={posts} />
	</Container>
</Layout>
