---
import BaseHead from "@components/BaseHead.astro";
import type { Props as BaseHeadProps } from "@components/BaseHead.astro";
import i18next from "i18next";

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang={i18next.language}>
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<slot name="header" />
		<main class="flow">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
